*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: GothamPro, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    font-size: 0.8vw; /*vw ko đổi hiển thị chữ khi zoom to nhỏ màn hình đi kèm với thẻ viewport*/
}
.notamenu{
    color: #171717;
    text-decoration: none;
    list-style: none;
}
.notamenu:hover{
    color: #f0f0f0;
    text-decoration: none;
}
.modal-header{
    border-bottom: none!important;
}
.modal-span{
    padding: 1rem 1rem;
}
.modal-content{
   background-color: orange!important;
}